<p style="color: green"><%= notice %>

<%= render @location %>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
<hr>
<h3>Hotels near <%= @location.name %></h3>
<% @location.nearbys(5).each do |location| %>
  <p><%= link_to location.name, location %> distance: <%= location.distance_to(@location, :km).round(2)%> km</p>
</p>
<% end %>
